Repository firebase/extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rachelsaunders, @Salakar, @Ehesp

Update POSTINSTALL.md
  firestore-counter/POSTINSTALL.md
Owners: @rachelsaunders

changed(firestore-counter): use pubsub trigger for controller function (#49)
  firestore-counter/POSTINSTALL.md
  firestore-counter/PREINSTALL.md
  firestore-counter/extension.yaml
  firestore-counter/functions/lib/aggregator.js
  firestore-counter/functions/lib/common.js
  firestore-counter/functions/lib/controller.js
  firestore-counter/functions/lib/index.js
  firestore-counter/functions/lib/worker.js
  firestore-counter/functions/src/aggregator.ts
  firestore-counter/functions/src/common.ts
  firestore-counter/functions/src/controller.ts
  firestore-counter/functions/src/index.ts
  firestore-counter/functions/src/planner.ts
  firestore-counter/functions/src/worker.ts
  firestore-counter/package.json
  firestore-send-email/package-lock.json
Owners: @rachelsaunders, @Salakar, @Ehesp

changed(firestore-counter): use pubsub trigger for controller function (#49)
  firestore-counter/POSTINSTALL.md
  firestore-counter/PREINSTALL.md
  firestore-counter/extension.yaml
  firestore-counter/functions/lib/aggregator.js
  firestore-counter/functions/lib/common.js
  firestore-counter/functions/lib/controller.js
  firestore-counter/functions/lib/index.js
  firestore-counter/functions/lib/worker.js
  firestore-counter/functions/src/aggregator.ts
  firestore-counter/functions/src/common.ts
  firestore-counter/functions/src/controller.ts
  firestore-counter/functions/src/index.ts
  firestore-counter/functions/src/planner.ts
  firestore-counter/functions/src/worker.ts
  firestore-counter/package.json
  firestore-send-email/package-lock.json
Owners: @rachelsaunders, @Salakar, @Ehesp

Update versions and change logs for Dec 12 release (#129)
  firestore-bigquery-export/CHANGELOG.md
  firestore-bigquery-export/extension.yaml
  firestore-counter/CHANGELOG.md
  firestore-counter/extension.yaml
  firestore-send-email/CHANGELOG.md
  firestore-send-email/extension.yaml
  firestore-translate-text/CHANGELOG.md
  firestore-translate-text/extension.yaml
Owners: @rachelsaunders

Update versions and change logs for Dec 12 release (#129)
  firestore-bigquery-export/CHANGELOG.md
  firestore-bigquery-export/extension.yaml
  firestore-counter/CHANGELOG.md
  firestore-counter/extension.yaml
  firestore-send-email/CHANGELOG.md
  firestore-send-email/extension.yaml
  firestore-translate-text/CHANGELOG.md
  firestore-translate-text/extension.yaml
Owners: @rachelsaunders

chore(*): update bug report issue template
  .github/ISSUE_TEMPLATE/bug.md
Owners: @rachelsaunders

chore(*): update bug report issue template (#133)
  .github/ISSUE_TEMPLATE/bug.md
Owners: @rachelsaunders

chore(*): update bug report issue template (#133)
  .github/ISSUE_TEMPLATE/bug.md
Owners: @rachelsaunders

fix(firestore-bigquery-export): Fix file name issue in import script for Windows (#131)
  firestore-bigquery-export/scripts/import/src/index.ts
Owners: none

fix(firestore-bigquery-export): Fix file name issue in import script for Windows (#131)
  firestore-bigquery-export/scripts/import/src/index.ts
Owners: none

.github/CODEOWNERS:

# All documentation changes, e.g. changelogs & readmes.
*.md             @rachelsaunders
*/extension.yaml @rachelsaunders

# Dependencies, package.json and mono-repo files
package.json     @Salakar @Ehesp
*/package.json   @Salakar @Ehesp
lerna.json       @Salakar @Ehesp

# Tests
jest.config.js    @Salakar @Ehesp
*/jest.config.js  @Salakar @Ehesp
__tests__/*      @Salakar @Ehesp
